.hero {
    padding: 0;
}

@include breakpoint("min", "sm") {
    .hero {
        padding: 1rem 0;

        > .container {
            padding-right: 50px;
        }
    }
}

@include breakpoint("min", "md") {
    .hero {
        padding: 2rem 0;

        > .container {
            padding-right: 200px;
        }
    }
}

@include breakpoint("min", "lg") {
    .hero {
        padding: 4rem 0;

        > .container {
            padding-right: 400px;
        }
    }
}

@include breakpoint("min", "xl") {
    .hero {
        > .container {
            padding-right: 700px;
        }
    }
}

@import "./hero-search";
