$breakpoints: (
    xs: 350px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
);

@mixin breakpoint($type: "min", $key) {
    @if $type == "min" {
        @media screen and (min-width: map-get($breakpoints, $key)) {
            @content;
        }
    } @else {
        @media screen and (max-width: map-get($breakpoints, $key)) {
            @content;
        }
    }
}
